// Colors
$primary-color: #051CF2;
$primary-gradient: linear-gradient(218.31deg, #0CF6B4 0%, #051CF2 78.13%);
$accent: #0CF6B4;
$black: #0E212F;
$white: #ffffff;
$black-varient: #2C3336;

$bg-white: #ffffff;
$bg-gray: #F1F3F9;
$bg-gray-dark: #ADBDCC;

// Fonts
$font-stack: "Roboto", sans-serif;